@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Custom Fonts */
@font-face {
  font-family: 'Ebrula Vintage';
  src: url('/fonts/EbrulaVintageDemo-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roslindale Display';
  src: url('/fonts/Roslindale-DisplayCondensedBold-Testing.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-heading: 'Roslindale Display', serif;
  --font-body: 'DM Sans', sans-serif;
  --font-job-role: 'Staatliches', sans-serif;
  --font-script: 'Dancing Script', cursive;
  --font-ebrula: 'Ebrula Vintage', serif;
  --font-square-peg: 'Square Peg', cursive;
  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-2xl: 0px;
  --radius-3xl: 0px;
  --radius-full: 0px;
  --radius: 0px;
}